<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <appSettings>
    <add key="ServerLocatorURI" value="https://private-16d939-codingchallenge2020.apiary-mock.com/locations"/>
  </appSettings>

</configuration>